<!-----------------------------
 Create Document
 (c) Justus Languell 2021
------------------------------>
<!DOCTYPE HTML>
<html>
    <head>
        <title>40 Dollars</title>
        <meta name="description" content="40 Dollars">
        <meta name="keywords" content="40 Dollars">
        <meta name="author" content="Justus Languell">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="{{ url_for("static", filename="css/styles.css") }}">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js" 
        integrity="sha512-bLT0Qm9VnAYZDflyKcBaQ2gg0hSYNQrJ8RilYldYQ1FxQYoCLtUjuuRuZo+fjqhx/qtq/1itJ0C2ejDxltZVFg==" crossorigin="anonymous">
        </script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/3.0.4/socket.io.js" 
            integrity="sha512-aMGMvNYu8Ue4G+fHa359jcPb1u+ytAF+P2SCb+PxrjCdO3n3ZTxJ30zuH39rimUggmTwmh2u7wvQsDTHESnmfQ==" crossorigin="anonymous">
        </script>
        <script>
            var socket = io();	
            var _name = '{{name}}';
            var code = '{{gcode}}';
            var host = '{{hostn}}';
        </script>
        <script src='{{ url_for("static", filename="js/lobby.js") }}'></script>
        <style>
            @font-face {
                font-family: "SFPro";
                src: url('static/fonts/SFPro/SF-Pro-Text-Regular.otf');
            }
        </style>
    </head>
    <body class="">
        <div class="centerxy br" style="min-height: 700px; width: 600px;">
                <div class="orange-bg br-tl br-tr lobby-div" >
                        <center>
                        <h1><b class="green">Game</b> <b class="purple">{{gcode}}</b></h1>
                        <div id="start"></div>
                        <h3 class="red" id="startissue"></h3>
                        </center>
                </div>
                <div class="white-bg br-bl br-br lobby-div">
                    <h1 id="players" class="players">
                    </h1>
                </div>
        </div>
    </body>
</html>